h2{
    color:#7C73C0;
    text-align:center;
    font-size: 45px;
}
.instructions{
    font-size: 135%;
    text-align:center;
}
.introduction{
    font-size: 135%;
    text-align:center;

}
#gotoform {
    /* Button styles */
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    background-color: #3a29d3;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#gotoform:hover {
    /* Hover styles (optional) */
    background-color: #563ec1;
    /* Add any other styles you want when the button is hovered */
}
.row-container {
    display: flex;
    align-items: center; /* Align items vertically at the center (optional) */
  }
.amount {
    font-size: 60px;
    color: #272829;
  }
.name {
    font-size: 50px;
    font-weight: bold;
    color: #6528F7;
  }
h1{
    color:#7C73C0;
    text-align:center;
    font-size: 45px;

}

input[type = text]{
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;

}

input[type = submit]{
    width: 100%;
    padding: 8px 8px;
    background-color: #6F61C0;
    color: aliceblue;
    border: none;
    border-radius: 55px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease
}
input[type = submit]:hover{
    width: 100%;
    padding: 8px 8px;
    background-color: #B1B2FF;
    color: aliceblue;
    border: none;
    border-radius: 55px;
    text-align: center;
    cursor: pointer;
}

  
body{
    font-family: 'Nunito', sans-serif;
    background-color:#EEF1FF ;
    padding: 40px;
}